<mat-card>
  <mat-card-title>Sign In</mat-card-title>
  <mat-card-content>
    <form [formGroup] = "form" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>

      <p *ngIf="messageResponse" class="error" [style.background-color]="bgColorResponse">
        {{ messageResponse }}
      </p>
      <div>
        <div class="button">
          <button type="submit" mat-button>Login</button>
        </div>
      </div>

    </form>
  </mat-card-content>
</mat-card>
